<div id="<%= dom_id importantum %>">
  <p>
    <strong>Codimp:</strong>
    <%= importantum.codimp %>
  </p>

  <p>
    <strong>Grad:</strong>
    <%= importantum.grad %>
  </p>

  <p>
    <strong>Descgrad:</strong>
    <%= importantum.descgrad %>
  </p>

</div>
