<h1>Editing importantum</h1>

<%= render "form", importantum: @importantum %>

<br>

<div>
  <%= link_to "Show this importantum", @importantum %> |
  <%= link_to "Back to importanta", importanta_path %>
</div>
