<div id="<%= dom_id tipuri_prop %>">
  <p>
    <strong>Idxcp:</strong>
    <%= tipuri_prop.idxcp %>
  </p>

  <p>
    <strong>Cp:</strong>
    <%= tipuri_prop.cp %>
  </p>

  <p>
    <strong>Explicatie:</strong>
    <%= tipuri_prop.explicatie %>
  </p>

</div>
