<h1>Editing tipuri prop</h1>

<%= render "form", tipuri_prop: @tipuri_prop %>

<br>

<div>
  <%= link_to "Show this tipuri prop", @tipuri_prop %> |
  <%= link_to "Back to tipuri props", tipuri_props_path %>
</div>
