<h1>Editing listacursuri</h1>

<%= render "form", listacursuri: @listacursuri %>

<br>

<div>
  <%= link_to "Show this listacursuri", @listacursuri %> |
  <%= link_to "Back to listacursuris", listacursuris_path %>
</div>
