<h1>Editing plante parti</h1>

<%= render "form", plante_parti: @plante_parti %>

<br>

<div>
  <%= link_to "Show this plante parti", @plante_parti %> |
  <%= link_to "Back to plante partis", plante_partis_path %>
</div>
