<h1>Editing contracte</h1>

<%= render "form", contracte: @contracte %>

<br>

<div>
  <%= link_to "Show this contracte", @contracte %> |
  <%= link_to "Back to contractes", contractes_path %>
</div>
