
<style>

</style>


<div class="container" id="cvp1">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: aliceblue; ">

<h1 class="first-tittle">Ayush Cell Romania: Generator contracte de voluntariat</h1>
<h2 class="main-title mb0">Contract de voluntariat</h2>

<%=@contract.html_safe%></br></br>


<canvas id="signature-pad" width="1350" height="650" style="border: 1px solid #000;"></canvas></br></br>
<button onclick="saveSignature()">Salvează Semnătura</button></br></br>
<button onclick="clearSignature()">Șterge Semnătura</button></br></br>


</div>
</div>

<script>
  document.addEventListener("turbo:load", function() {
    var canvas = document.getElementById('signature-pad');
    if (canvas) { // Verifică dacă elementul canvas există pe pagină
      var context = canvas.getContext('2d');
      var isDrawing = false;

      canvas.addEventListener('mousedown', function(event) {
        isDrawing = true;
        var x = event.offsetX;
        var y = event.offsetY;
        context.beginPath(); // Începe o nouă cale de desenare
        context.moveTo(x, y);
      });

      canvas.addEventListener('mousemove', function(event) {
        if (isDrawing) {
          context.lineTo(event.offsetX, event.offsetY);
          context.stroke();
        }
      });

      canvas.addEventListener('mouseup', function() {
        isDrawing = false;
      });

      canvas.addEventListener('mouseleave', function() {
        isDrawing = false;
      });

      function saveSignature() {
        var dataURL = canvas.toDataURL();
        console.log(dataURL);
        // Aici poți adăuga cod pentru a trimite dataURL la server
      }

      function clearSignature() {
        context.clearRect(0, 0, canvas.width, canvas.height);
      }

      // Atașează funcțiile la butoane, dacă acestea există
      var btnSave = document.querySelector('[onclick="saveSignature()"]');
      var btnClear = document.querySelector('[onclick="clearSignature()"]');
      if (btnSave && btnClear) {
        btnSave.onclick = saveSignature;
        btnClear.onclick = clearSignature;
      }
    }
  });
</script>




  

