<style>
.action-buttons {
  display: flex;
  gap: 10px;
}
</style>
<div class="container" id="cvp1">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: aliceblue; ">
<h1>Pagin voluntarului unde va vedea pasii</h1> 

<div class="tbland">
<div class="tbr">


</div></div></div></div>