<div id="cookie-law-banner" style="display:none;">
    <p>
        Folosim module cookie pe site-ul nostru pentru a vă oferi cea mai relevantă experiență, amintindu-vă preferințele și vizitele repetate. Făcând clic pe „Accept”, sunteți de acord cu utilizarea TUTUROR modulelor cookie.
        <button id="cookie-law-accept">Accept</button>
        <button id="cookie-law-settings">Setări</button>
    </p>
</div>

<div id="cookie-settings-window" style="display:none;">
    <p>
        Alegeți ce tipuri de cookie-uri doriți să acceptați:</br>
        <input type="checkbox" id="cookie-settings-necessary"> Necesare</br>
        <input type="checkbox" id="cookie-settings-functionality"> Functionalitate</br>
        <input type="checkbox" id="cookie-settings-performance"> Performanta</br>
        <input type="checkbox" id="cookie-settings-analytics"> Analytics</br>
        <input type="checkbox" id="cookie-settings-marketing"> Marketing</br>
        <input type="checkbox" id="cookie-settings-other"> Altele</br>
    </p>
    <button id="cookie-settings-save">Salvează si Accepta</button>
</div>
