<h1>Editing lista vegetale</h1>

<%= render "form", lista_vegetale: @lista_vegetale %>

<br>

<div>
  <%= link_to "Show this lista vegetale", @lista_vegetale %> |
  <%= link_to "Back to lista vegetales", lista_vegetales_path %>
</div>
