<h1>Editing firmeproforma</h1>

<%= render "form", firmeproforma: @firmeproforma %>

<br>

<div>
  <%= link_to "Show this firmeproforma", @firmeproforma %> |
  <%= link_to "Back to firmeproformas", firmeproformas_path %>
</div>
