<tr>
  
  <td><%= video.nume %></td>
  <td><%= video.descriere %></td>
 
  <td>
   
   
    <%= link_to "Vezi video", myvideo3_path(id: video.id, link: video.link), class: "btn btn-primary" %>



  </td>
  
</tr>
