<h1>Editing cursuriayurveda</h1>

<%= render "form", cursuriayurveda: @cursuriayurveda %>

<br>

<div>
  <%= link_to "Show this cursuriayurveda", @cursuriayurveda %> |
  <%= link_to "Back to cursuriayurvedas", cursuriayurvedas_path %>
</div>
