</br></br><h3>Timp petrecut in pagina Calculator valori nutritionale (valoarea este in minute):</h3>  </br>
  <%= line_chart @valori_nutritionale_page_visit_times_by_date %></br></br></br>
      
  <span><%= link_to "Inapoi", useriunici_logati_paginisites_path, class: "btn btn-primary" %></span> </br></br></br>



