<h1>Editing localitati</h1>

<%= render "form", localitati: @localitati %>

<br>

<div>
  <%= link_to "Show this localitati", @localitati %> |
  <%= link_to "Back to localitatis", localitatis_path %>
</div>
