<section class="c1">
<h1 class="ch1">Editare produs</h1>

<%= render "form", prod: @prod %>

<br>

<div>
  <%= link_to "Show this prod", @prod %> |
  <%= link_to "Back to prods", prods_path %>
</div>
</section>