<p>Header Row Count: <%= @header_row.count %></p>
<p>Header Row: <%= @header_row.inspect %></p>

<br><br>

<p>Second Row Count: <%= @second_row.count %></p>
<p>Second Row: <%= @second_row.inspect %></p>
