<h1>Editing listaproprietati</h1>

<%= render "form", listaproprietati: @listaproprietati %>

<br>

<div>
  <%= link_to "Show this listaproprietati", @listaproprietati %> |
  <%= link_to "Back to listaproprietatis", listaproprietatis_path %>
</div>
