<p style="color: green"><%= notice %></p>

<h1>An32324s</h1>

<div id="an32324s">
  <% @an32324s.each do |an32324| %>
    <%= render an32324 %>
    <p>
      <%= link_to "Show this an32324", an32324 %>
    </p>
  <% end %>
</div>

<%= link_to "New an32324", new_an32324_path %>
