<p class="text-success"><%= notice %></p>

<h1>Videos</h1>

<div id="videos">
  <table class="table">
    <thead>
      <tr>
        <th>Nume</th>
        <th>Descriere</th>
        <th>Sursa</th>
        <th>Link</th>
        <th>Tip</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @videos.each do |video| %>
        <%= render video %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New video", new_video_path, class: "btn btn-success" %>
