<section class="c1">
<p class="text-success"><%= notice %></p>

<h1 style= "text-align: center;padding: 0 10px;">Inregistrari video din Tabara de ayurveda </br>
etapa de vara 2023 partea a 2-a </h1>
<p style="padding: 0 10px;"> 
  Setul de plante utilizat in cadrul exemplificarilor din tabara poate fi achizitionat de pe 
  <a href="https://animaplant.ro/produs/set-7-plante-tabara/">adresa https://animaplant.ro/produs/set-7-plante-tabara/</a>.
</p>

<div id="videos">
  <table class="table">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>
       
        <th>Actiune</th>
      </tr>
    </thead>
    <tbody>
    <% @myvideo.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>
</section>

