<h2>1. Cineva a platit la nutritie3 pentru altcineva - a pus alta adresa de email la datefacturare</h2>
<p>La lista useri se cauta userul pt care s-a platit si se activeaza Nutritie3</p>
<p>Apoi la Comenzi Produse Facturi/Alege Comanda_id pentru Editare ComandaProd:  pun id-ul comenzii 
ce trebuie modificata (cea care are emailul diferit de current_user) si modific doar: pun id-ul userului 
pentru care s-a platit in locul userului care a platit.Enjoy! </p>
<h2>2. Pentru cei care au platit prin transfer bancar un produs gen Nutritie3
sau plata s-a facut altfel:</h2>
<p>Merg si fac o comanda noua unde pun Emailcurrent: userul pentru care vreau,apoi la Plataprin
scriu 'transfer b' sau altceva apoi codurile pentru produs si aici am incheiat primul pas. </p>
<p>Merg apoi la User si ii bifez Nutritie3 cu data inceput si sfarsit 1zi. Enjoy!</p>
<h2>3. Am schimbat adresa de email pt cineva din Lista Useri care platise tot pt ea dar la alata adresa de email</h2>
<p>Am sters adresa de email unde NU s-a facut plata si am pus-o unde s-a facut plata inlocuind-o cu cea pe care am sters-o </p>
<p>DE ex: Plata facuta la aaa@gmail.com dar vrea sa foloseasca de acum bbb@gmail.com : am sters bbb@ si am inlocuit aaa cu bbb</p>
<p>Acum vede facturile la bbb in loc de aaa care nu mai exista. Exista doar bbb Enjoy!</p>


