<h2>1.  la nutritie3 pentru altcineva - a pus alta adresa de email la datefacturare</h2>
<p>La lista useri se cauta userul pt care s-a platit si se activeaza Nutritie3</p>
<p>Apoi la Comenzi Produse Facturi/Alege Comanda_id pentru Editare ComandaProd:  pun id-ul comenzii 
ce trebuie modificata (cea care are emailul diferit de current_user) si modific doar: pun id-ul userului 
pentru care s-a platit in locul userului care a platit.Enjoy! </p>
<h2>2. Pentru cei care au platit prin transfer bancar un produs gen Nutritie3
sau plata s-a facut altfel:</h2>
<p>Merg si fac o comanda noua unde pun Emailcurrent: userul pentru care vreau,apoi la Plataprin
scriu 'transfer b' sau altceva apoi codurile pentru produs si aici am incheiat primul pas. </p>
<p>Merg apoi la User si ii bifez Nutritie3 cu data inceput si sfarsit 1zi. Enjoy!</p>
<h2>3. Am schimbat adresa de email pt cineva din Lista Useri care platise tot pt ea dar la alta adresa de email</h2>
<p>Am sters adresa de email unde NU s-a facut plata si am pus-o unde s-a facut plata inlocuind-o cu cea pe care am sters-o </p>
<p>DE ex: Plata facuta la aaa@gmail.com dar vrea sa foloseasca de acum bbb@gmail.com : am sters bbb@ si am inlocuit aaa cu bbb</p>
<p>Acum vede facturile la bbb in loc de aaa care nu mai exista. Exista doar bbb Enjoy!</p>
<h2>4. Adaugare user care sa poata plati nutritie 3. Sa vada produsele in Servicii</h2>
<p>Adaug user din tabela xlsx cu butonul Preluare useri care sa poata cumpara de la Nutritie3. 
Apoi apas butonul Preluare in useriprod user_id cu prod_id  Tabela adaugauseri.xlsx are  (mail nume telefon) Enjoy!</p>


<h2>5. toadermihaela@yahoo.com (id: 762) I-a plătit cineva la tabără, dar i-a făcut un cont nou pentru că i-a dat adresa de email greșită.
    Corectă este adresa de email toadermihaela67@yahoo.com (id: 557) pe care a avut-o și la tabăra de vară</h2>
<p>In situatia aceasta nu se poate sterge adresa de email ca la pct 3 pt ca sunt legaturi create (are cursuri asociate) </p>
<p>Am facut pct 2 de mai sus (am creat o noua comanda etc)</p>
<p>Am cautat userul gresit in ComenziProd: cp=ComenziProd.find_by(user_id: 762) apoi: cp.update(validat: 'Initiata')</p>
<p>pentru ca acel user sa nu mai aiba acces la tayt12. (Trebuie identificata exact pt ca poate avea mai multe cp acel user.Aici era
 doar o comanda si am folosit find_by, dar daca folosesc where vad cate are si identific pe cea care trebuie)</p>
<p>Apoi in  df=Detaliifacturare.find_by(user_id: 762)  si am schimbat user_id pentru ca datele de facturare sa fie asociate 
cu userul care trebuie: irb(main):010:0> df.update(user_id: 557) </p>
<p>Trebuie schimbat si user_id de la 762 la 557 in tabela Factura pt ca factura sa fie asociata cu 557 Enjoy!</p>
<h2>6. Cineva a cumparat un produs acces la un video dar in loc sa ia in limba romana a luat in engleza. Pretul fiind acelasi si pt RO si pt EN</h2>
<p>Trebuie modificat prod_id din ComenziProd  cu prod_id al produsului cu video in RO. Atat!!</p>
<p>Ex: cp=ComenziProd.find_by(comanda_id: 727) cp.update(prod_id: 55) Enjoy!</p>

<h2>7.La nagy.edvin@yahoo.com apar facturile cu 180 lei in loc de 35 lei</h2>
<p>Fac update in tabelele: Factura: pret_unitar 29.41 si valoare_totala 35. Comanda: stateplata2 35  Enjoy!</p>

<h2>8.Plata an 1 prin transfer bancar</h2>
<p>Adaug un produs nou cu: email transferb id cod  dupa ce am adaugat produsul acesta in tabela ComenziProd fac update la taxa2324</p>
<p>Ex: pt ruxandra.petroiu@yahoo.com pt plata ianuarie am adaugat id=19 cod19 si am facut update la taxa2324=5   Enjoy!</p>

<h2>9.Modificare adresa email pt cei care mai demult aveau alta la datefacturare</h2>
<p>rails c -e production  df=Detaliifacturare.find_by(user_id: 554)</p>
<p>df.update(adresaemail: "nagy.edvin@yahoo.com")   Enjoy!</p>

<h2>10. "nagy.edvin@yahoo.com" avea 35 lei pe luna dar stripe i-a luat 180 lei si factura a fost de 180 lei</h2>
<p>rails c -e production  anulam factura si facem refund la suma din stripe</p>
<p>Anulam asa: cp=ComenziProd.find_by(comanda_id: 1268)  apoi cp.update(taxa2324: nil) cp.update(validat: "Initiata")  iar in tabela de comenzi: c=Comanda.find_by(id: 1268)  c.update(statecomanda2: "Asteptare")
c.update(stateplata2: "Asteptare")   c.update(stateplata1: "Asteptare") Enjoy!</p>


<h2>10. Anulare factura</h2>
<p>Se face din aplicatie: merg la factura o editez punand la status: anulata   Enjoy!</p>

