<h2>1. Cineva a platit la nutritie3 pentru altcineva - a pus alta adresa de email la datefacturare</h2>
<p>La lista useri se cauta userul pt care s-a platit si se activeaza Nutritie3</p>
<p>Apoi la Comenzi Produse Facturi/Alege Comanda_id pentru Editare ComandaProd:  pun id-ul comenzii 
ce trebuie modificata (cea care are emailul diferit de current_user) si modific doar: pun id-ul userului 
pentru care s-a platit in locul userului care a platit.Enjoy! </p>
<h2>Pentru cei care au platit prin transfer bancar un produs gen Nutritie3</h2>
Merg si fac o comanda noua