<style>
#nutritie1 .cm h2 {
    font-size:22px;
}
#nutritie1 .register{
    border: 1px solid #4b0082;
    background-color:#4b0082;
}
#nutritie1 .cm h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:0;
}
#nutritie1 .register{
    margin:0;
    margin-top:20px;
}
#nutritie1 .table td {
    text-align:center;
}
@media screen and (max-width: 720px) {
    #nutritie1 .register{
        margin:0 auto;
        margin-top:20px;
    }
    .cm{
        text-align:center;
    }
}

</style>
<% content_for :title, "Ayush Cell Romania: Copyright" %>
<% content_for :meta_tags do %>
  <meta name="description" content="Descoperiți importanța adaptării (satmya) alimentației la tipologia constituțională ayurvedică proprie (dosha) și impactul acesteia asupra sănătății.">
  <meta name="keywords" content="ayurveda, nutritie ayurvedica, dosha, vata, pitta, kapha, dosha-prakriti, greutatea ideala, formule greutate ideala">
  <link rel="canonical" href="https://www.ayushcell.ro/Copyright">
<% end %>

<div class="container" id="nutritie1">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Ayush Cell Romania: Copyright</h1>
    <h2 class="main-title">Declarație de Copyright</h2>

<p>Toate articolele, prezentările și materialele audio-video de pe site-ul ayushcell.ro, inclusiv, dar fără a se limita la documente, cursuri scrise, prezentări PowerPoint, înregistrări video, fișiere PDF și alte resurse disponibile, sunt protejate prin drepturi de autor.</p>

<p style="margin-bottom:-10px;"><strong>Utilizare Permisă</strong></p>
<p>Toate materialele menționate anterior, inclusiv cele cu drept de vizualizare pe site sau de descărcare, sunt destinate exclusiv utilizării în scopuri personale de învățare.<br><br>

Orice altă utilizare a materialelor, inclusiv, dar fără a se limita la distribuirea, reproducerea, modificarea, publicarea sau utilizarea acestora în scopuri comerciale, vânzarea, împrumutul, închirierea, relicențierea, sublicențierea, transmiterea sau redistribuirea, este strict interzisă fără obținerea prealabilă a acordului scris din partea titularilor drepturilor de autor.<br>

Este interzisă copierea, înregistrarea (prin orice mijloace, inclusiv capturi de ecran sau software de înregistrare audio-video) sau distribuirea în orice formă a prezentărilor, materialelor text sau fișierelor audio-video disponibile pe site-ul ayushcell.ro, fără obținerea prealabilă a permisiunii scrise explicite din partea Ayush Cell Romania SRL sau a titularilor drepturilor de autor asupra acestor materiale.</p>

<p style="margin-bottom:-10px;"><strong>Contact</strong></p>
<p style="margin-bottom:0px;">Pentru cereri referitoare la permisiuni sau alte întrebări legate de drepturile de autor, vă rugăm să ne contactați la:</p>
<p>Ayush Cell Romania SRL<br>
Str. Ostasilor nr. 15, sector 1, București, România<br>
Tel.: 0749 079 619<br>
Email: <a href="mailto:ayushcellromania@gmail.com">ayushcellromania@gmail.com</a></p>

<p style="margin-bottom:-10px;"><strong>Notificare Legală</strong></p>
<p>Orice încălcare a acestei declarații de copyright poate conduce la acțiuni legale, incluzând cereri de despăgubiri și alte măsuri legale necesare pentru protejarea drepturilor de autor.</p>




<section>

</section>

</div></div>