<section class="home">

<div class="nutritie">
   <div class="row">
      <div class="column">
         <a href="/valori-nutritionale">
         <img src="<%= image_path('nutritie-ayushcell.jpg') %>" alt="Imagine">
         </a>
      </div>
      <div class="column">
         <h1>Aplicație Nutriție</h1>
         <div class="description">Descoperă conținutul nutritiv al alimentelor și calculează numărul de calorii, proteine, lipide, carbohidrați și fibre la fiecare masă! Alege în fiecare zi o alimentație sănătoasă și echilibrată.</div>
         <div class="button">
            <a href="/valori-nutritionale">Intră în aplicație</a>
         </div>
      </div>
   </div>
</div>

</section>