<% if current_user.nil? %>
  <script>
    window.location.href = '<%= new_user_session_path %>';
  </script>
<% end %>
<section class="home">
    <h1 class="firstpage">
        <a href="../valori-nutritionale">Alimente și Valori Nutriționale</a>
    </h1>
</section>