
<h1 class="text-center mb-4" style="color: green;"><%=@mesaj1%></h1>
<h1 class="text-center mb-4" style="color: green;"><%=@mesaj2%></h1>
<section class="c1">
<div class="d-flex justify-content-center mt-5">
  <%= link_to 'Intră în aplicație', lista_vegetales_path, class: "btncontact btn btn-lg btn-primary", style: "font-size: 24px; padding: 20px 40px;" %>
</div>
</br></br></br></br></br></br>
</section>