<section class= "center">
<h1>Politica de prelucrare a datelor cu caracter personal</h1>
<p>AYUSH CELL ROMANIA SRL cunoaște importanța datelor dvs. și se angajează să protejeze confidențialitatea și securitatea acestora. De aceea, este important pentru noi să vă furnizăm într-o manieră integrată și practică informațiile legate de prelucrarea datelor dvs. cu caracter personal în calitate de persoane vizate (utilizatori ai website-ului ayushcell.ro, clienți, potențiali clienți, consumatori, potențiali consumatori) în cadrul prezentei Politici de prelucrare a datelor cu caracter personal, aplicabile pentru scopurile listate mai jos.</p>
<p>Această Politică are aplicabilitate asupra tuturor dispozitivelor utilizate în scopul accesării website-ului ayushcell.ro, dispozitive de tip smartphone, tabletă. În cazul în care nu sunteți de acord cu termenii și condițiile legate de utilizarea acestora (expuse în acest document din punct de vedere al protecției datelor cu caracter personal dar și în documentele Condițiile Generale, Politica de Confidențialitate din punct de vedere al informațiilor confidențiale, drepturi de autor, etc.), vă rugăm să nu utilizați site-ul www.ayushcell.ro .</p>
<p>Conform cerințelor Legii nr. 677/2001 pentru protecția persoanelor cu privire la prelucrarea datelor cu caracter personal și libera circulație a acestor date, modificată și completată, AYUSH CELL ROMANIA SRL administrează în condiții de siguranță și numai pentru scopurile specificate, datele cu caracter personal pe care ni le furnizați despre dumneavoastră, în contextul vizitării site-ului și achiziționării serviciilor AYUSH CELL ROMANIA SRL.</p>
<p>Prin bifarea faptului că sunteți de acord cu Condițiile Generale și Politica de prelucrare a datelor cu caracter personal sau, după caz, prin continuarea utilizării site-ului și serviciilor noastre ulterior parcurgerii acestei Politici, sunteți de acord cu această Politică de prelucrare a datelor cu caracter personal.</p>
<h2>Scopurile pentru care colectăm și prelucrăm datele dvs. cu caracter personal:</h2>
<p>AYUSH CELL ROMANIA SRL colectează și prelucrează datele dvs. cu caracter personal pentru următoarele scopuri de prelucrare:</p>
<ul>
<li> Administrarea, îmbunatatirea și realizarea serviciilor furnizate de site-ul www.ayushcell.ro</li>
<li> Activități comerciale de vânzări servicii, cuprinzând realizare, administrare și dezvoltare vânzări de servicii pe website-ul www.ayushcell.ro, administrarea conturilor clienților, cercetare / studii de piață, statistică.</li>
<li> Reclamă, marketing și publicitate, activități de promovare a serviciilor AYUSH CELL ROMANIA SRL, desfășurarea campaniilor promoționale, transmiterea de newslettere (buletine informative), de urmărire și monitorizare a vânzărilor de servicii și comportamentului consumatorului.</li>
<li> Activitătți de post-vânzări, cuprinzând servicii de relații cu clienții, informarea utilizatorilor/ clienților privind evaluarea serviciilor oferite (inclusiv evaluarea serviciilor pe website-ul www.ayushcell.ro), îmbunătățirea calității serviciilor.</li>
<li> În scop probatoriu în legătura cu activitățile de mai sus și de arhivare.</li>
</ul>
<h2>Categoriile de date cu caracter personal pe care le prelucrăm</h2>
Pentru realizarea scopurilor de mai sus prelucrăm următoarele categorii de date cu caracter personal:
Pentru administrarea, îmbunătățirea și realizarea serviciilor furnizate, dar și pentru activitățile de promovare, activități comerciale, activități post vânzări,
<ul>
<li> nume;</li>
<li> prenume;</li>
<li> adresa (domiciliu/reședința);</li>
<li> adresa de e-mail;</li>
<li> informații tehnice cu privire la dispozitivul vizitatorului – locația acestuia;</li>
<li> cod numeric personal, serie și număr act identitate</li>
<li> adresa IP,</li>
<li> tipul de echipament hardware, informații în legătura cu intervalul orar precum și data la care a fost folosit website-ul ayushcell.ro, alte informații care rezultă din folosirea aplicațiilor de tip Cookies;</li>
</ul>
<p>Pentru mai multe informații legate de cookie-uri, vă rugăm consultați Politica privind utilizarea cookie-urilor disponibilă în website.</p>
<p>Datele cu caracter personal care beneficiază de un regim special de protecție cum ar fi codul numeric personal, seria și numărul actului de identitate, vor fi colectate și prelucrate în condiții limitative și în concordanță cu dispozițiile legale pentru asigurarea respectării regulilor aplicabile în domeniul protecției datelor cu privire la acestea. Furnizarea datelor cu caracter personal este necesară pentru ca AYUSH CELL ROMANIA SRL. să realizeze activitățile listate conform celor de mai sus. Un refuz din partea dvs. de a ne furniza aceste date ar putea atrage imposibilitatea din partea AYUSH CELL ROMANIA SRL. de a vă furniza respectivele servicii, informații, de a răspunde solicitărilor dvs. sau de a realiza orice alte activități din cele listate mai sus.</p>
<h2>Cui dezvăluim datele dvs. cu caracter personal?</h2>
<p>În vederea realizării unuia sau mai multor scopuri din cele menționate mai sus, AYUSH CELL ROMANIA SRL poate dezvălui datele dumneavoastră cu caracter personal următoarelor categorii de destinatari:</p>
<ul>
<li> partenerilor contractuali ai AYUSH CELL ROMANIA SRL (cum este cazul companiilor cu care AYUSH CELL ROMANIA SRL se află în relații de parteneriat, dar numai în temeiul unui angajament de confidențialitate din partea acestora, prin care garantează că aceste date sunt păstrate în siguranță și că furnizarea acestor informații personale se face conform legislației în vigoare),</li>
<li> furnizori de servicii (de marketing, servicii de plată / bancare sau alte servicii), inclusiv entități care asistă AYUSH CELL ROMANIA SRL în prelucrarea de date în calitate de împuterniciți, asiguratori, autorități publice (Parchet, Poliție, instanțele judecătorești și altor organe abilitate ale statului), în baza și în limitele prevederilor legale și ca urmare a unor cereri expres formulate, altor companii din același grup cu AYUSH CELL ROMANIA SRL precum și dvs. ca persoană vizată în contextul exercitării dreptului dvs. de acces.</li>
</ul>
<p>Datele înregistrate de AYUSH CELL ROMANIA nu se vând către terți și sunt folosite doar în scopul îmbunătățirii serviciilor AYUSH CELL ROMANIA.</p>
<h2>Prin citirea prezenței Politici ați luat la cunoștință de faptul că vă sunt garantate drepturile prevăzute de lege, respectiv:</h2>
<ul>
<li> de a fi informați cu privire la prelucrarea datelor dvs. cu caracter personal, conform legii;</li>
<li> de acces la datele dvs. cu caracter personal;</li>
<li> de intervenție asupra datelor dvs. cu caracter personal;</li>
<li> de a nu fi supus unei decizii individuale cu caracter automat;</li>
<li> de a vă opune prelucrării datelor personale care vă privesc și să solicitați rectificarea, actualizarea ori ștergerea datelor în condițiile legii-în cazul datelor cu caracter personal prelucrate pentru scopuri de marketing direct, acest drept poate fi exercitat oricând, în mod gratuit și fără justificare;</li>
<li> de a vă adresa justiției în cazul în care s-au constatat încălcări ale legislației în materie.</li>
</ul>
<p>Vă puteți exercita aceste drepturi trimițând un e-mail către AYUSH CELL ROMANIA SRL la adresa ayushcellromania@gmail.com.</p>
<p>Puteți să vă opuneți oricând și fără justificare, prelucrării datelor dumneavoastră cu caracter personal în scop de marketing direct, prin transmiterea către AYUSH CELL ROMANIA SRL (prin email la adresa ayushcellromania@gmail.com), a unei solicitări scrise, datate și semnate în acest sens. În acest caz, solicitarea dumneavoastră va fi înaintată către departamentul specializat al AYUSH CELL ROMANIA SRL; este posibil să primiți un mesaj prin care se confirmă că opțiunea dumneavoastră a fost notată, precum și orice alte informații necesare, după caz.</p>
<h2>Durata prelucrării datelor</h2>
<p>Va fi determinată în general de momentul exercitării dreptului dumneavoastră la opoziție, în condițiile art. 15 alin. 2 din Legea nr. 677/2001. Excepție: Pentru datele declarate telefonic, durata prelucrării datelor este de 5 ani, ca regulă, sau până la exercitarea dreptului de opoziție. De asemenea, AYUSH CELL ROMANIA SRL poate stoca datele cu caracter personal pe o astfel de durată mai îndelungată, în scop probatoriu și de arhivare.</p>
<p>Totodată, stocarea datelor personale pentru o perioadă mai îndelungată de timp se poate realiza pentru realizarea de statistici, îmbunătățirea serviciilor, administrarea conturilor clienților, cercetare / studii de piață.</p>
<h2>Alte informații:</h2>
<p>Vă rugăm să verificați la fiecare utilizare a website-ului nostru prezenta Politică de prelucrare a datelor cu caracter personal pentru a fi tot timpul informați în legătura cu aceasta.</p>
<p>La încheierea operațiunilor de prelucrare, datele înregistrate vor putea fi transferate, integral ori parțial, oricărei alte persoane juridice cu respectarea legislației speciale în vigoare, în condițiile în care acestea vor fi folosite în scopuri similare cu cele prevăzute în acest document.</p>
<p>Pentru înregistrarea eronată a datelor personale cauzată de softul de indexare a datelor, AYUSH CELL ROMANIA SRL nu își asumă nicio responsabilitate.</p>
</section>