<section class= "center">
<h1>Politica de cookie-uri</h1>
<p>Site-ul www.ayushcell.ro utilizează cookie-uri pentru a oferi vizitatorilor săi o experiență mai bună de navigare și servicii adaptate intereselor fiecărui vizitator. Vă prezentăm mai jos informațiile necesare pentru a vă aduce la cunoștință detaliile legate de plasarea, utilizarea și administrarea cookie-urilor utilizate de site-ul www.ayushcell.ro.</p>
<p>Similar, în mediul online, există și alte site-uri, pagini personalizate inclusiv pe platforme ale terțelor părți (cum ar fi Facebook sau YouTube) și aplicațiilor accesate sau utilizate prin asemenea site-uri care sunt operate de sau în numele AYUSH CELL ROMANIA SRL și care folosesc cookie-uri conform celor prezentate mai jos.</p>
<h2>Aplicabilitatea acestei Politici</h2>
<p>Această Politică se aplică site-ului www.ayushcell.ro</p>
<p>De asemenea, pentru identitate, informațiile din acest document se aplică și altor platforme online care sunt operate de sau în numele AYUSH CELL ROMANIA SRL.</p>
<p>Utilizând acest site, sunteți de acord cu modul de utilizare de către noi a cookie-urilor, în conformitate cu această Politică privind utilizarea lor.</p>
<p>Dacă nu sunteți de acord cu modul nostru de utilizare a cookie-urilor, puteti modifica in mod corespunzător setările browser-ului dumneavoastră.</p>
<p>Decuplarea cookie-urilor pe care le utilizăm ar putea afecta experiența dumneavoastră ca utilizator pe acest site.</p>
<h2>Ce sunt cookie-urile?</h2>
<p>Cookie-urile sunt fișiere de mici dimensiuni, formate din litere și numere, care vor fi stocate pe computerul, terminalul mobil sau alte echipamente ale unui utilizator de pe care se accesează internetul.</p>
<p>Cookie-urile sunt instalate prin solicitarea emisă de către un web-server, unui browser (ex: Internet Explorer, Chrome).</p>
<p>Cookie-urile sunt complet “pasive” (nu conțin programe software, viruși sau spyware și nu pot accesa informațiile de pe hard driverul utilizatorului).
<p>Un cookie este format din 2 părți: numele și conținutul sau valoarea cookie-ului. Durata de existență a unui cookie este determinată; tehnic, doar web serverul care a trimis cookie-ul îl poate accesa din nou în momentul în care un utilizator se întoarce pe website-ul asociat web-serverului respectiv.</p>
<p>Cookie-urile în sine nu solicită informații cu caracter personal pentru a putea fi utilizate și, în cele mai multe cazuri, nu identifică personal utilizatorii de internet.</p>
<h2>Există 2 categorii mari de cookie-uri:</h2>
<ol>
<li> cookie-uri de sesiune: sunt stocate temporar în dosarul de cookie-uri al browserului web pentru ca acesta să le memoreze până când utilizatorul iese de pe web-siteul respectiv sau închide fereastra browserului;</li>
<li> cookie-uri persistente: sunt stocate pe hard-drive-ul unui computer sau echipament și sunt activate din nou când vizitați site-ul care a creat acel cookie specific. Cookie-urile persistente le includ și pe cele plasate de un alt website decât cel pe care il vizitează utilizatorul la momentul respectiv. Acestea sunt cunoscute sub numele de “third party cookies” respectiv cookie-uri plasate de terți. Acestea memorează interesele unui utilizator pentru a livra publicitate cât mai relevantă pentru acesta.</i>
</ol>
<h2>Care este durata de viață a unui cookie?</h2>
<p>Durata de viață a unui cookie poate varia semnificativ, în funcție de scopul pentru care acesta este plasat. Unele cookie-uri sunt menite unei singure utilizări (cum este cazul cookie-urilor de sesiune), prin urmare nu sunt menținute odată ce utilizatorul părăsește site-ul. Alte cookie-uri sunt menținute și reutilizate de fiecare dată când utilizatorul revine pe site (cookie-uri persistente). Totuși, cookie-urile pot fi șterse de utilizator în orice moment prin utilizarea setărilor browser-ului.</p>
<h2>Ce sunt cookie-urile plasate de terți?</h2>
<p>Unele secțiuni de conținut ale unor site-uri pot fi furnizate prin cookie-uri ale terților cum este cazul unei reclame. Astfel de cookie-uri pot fi plasate pe site și sunt denumite cookie-uri plasate de terți întrucât nu sunt plasate de proprietarul site-ului. Astfel de terți sunt la rândul lor obligați să respecte reglementările legale aplicabile și politicile de confidențialitate ale proprietarului site-ului respectiv.</p>
<h2>De ce sunt cookie-urile importante pentru internet?</h2>
<p>Cookie-urile reprezintă punctul central al funcționării eficiente a Internetului, ajutând la generarea unei experiențe de navigare prietenoase și adaptată preferințelor și intereselor fiecărui utilizator. Refuzarea sau dezactivarea cookie-urilor poate face unele site-uri imposibil de folosit. Refuzarea sau dezactivarea cookie-urilor nu înseamnă că nu veți mai primi publicitate online – ci doar că aceasta nu va mai putea ține cont de preferințele și interesele dvs, evidențiate prin comportamentul de navigare. Exemple de întrebuințări importante ale cookie-urilor (care nu necesită autentificarea unui utilizator prin intermediul unui cont):</p>
<ol>
<li> Conținut și servicii adaptate preferințelor utilizatorului – categorii de produse și servicii;</li>
<li> Oferte adaptate pe interesele utilizatorilor – reținerea parolelor;</li>
<li> Reținerea filtrelor de protecție a copiilor privind conținutul pe Internet (opțiuni family mode, funcții de safe search);</li>
<li> Limitarea frecvenței de difuzare a reclamelor – limitarea numărului de afișări a unei reclame pentru un anumit utilizator pe un site;</li>
<li> Furnizarea de publicitate mai relevantă pentru utilizator;</li>
<li> Măsurarea, optimizarea și caracteristicile de Analytics – cum ar fi confirmarea unui anumit nivel de trafic pe un website, ce tip de conținut este vizualizat și modul cum un utilizator ajunge pe un website (exemplu: prin motoare de căutare, direct, din alte website-uri etc). Website-urile derulează aceste analize ale utilizării lor pentru a îmbunătăți site-urile în beneficiul user-ilor.</li>
</ol>
<h2>Ce tipuri de cookie-uri folosim?</h2>
<p>Accesând acest site se pot plasa următoarele tipuri de cookie-uri:</p>
<ul>
<li> de performanță a site-ului: acestea rețin preferințele utilizatorului pe acest site;</li>
<li> de analiză a vizitatorilor: acestea ne spun dacă ați mai vizitat acest site până acum; browserul ne va spune dacă aveți acest cookie, iar dacă nu, vom genera unul;</li>
<li> pentru geotargetting: acestea sunt utilizate de către un soft care stabilește din ce țară proveniți, sunt complet anonime și sunt folosite doar pentru targetarea conținutului;</li>
<li> de înregistrare: acestea ne anunță dacă sunteți înregistrat sau nu, ne arată contul cu care sunteți înregistrat și dacă aveți permisiunea pentru un anumit serviciu;</li>
<li> pentru publicitate: pe baza acestora putem afla dacă ați vizualizat sau nu o reclamă online, ce tip de reclamă și cât timp a trecut de când ați vizualizat această reclamă.</li>
</ul>
<h2>Cookie-urile conțin date personale?</h2>
<p>Cookie-urile în sine nu solicită informații cu caracter personal pentru a putea fi utilizate și, în cele mai multe cazuri, nu identifică personal utilizatorii de internet. Datele personale pot fi colectate prin utilizarea Cookie-urilor doar pentru a facilita anumite funcționalități pentru utilizator.</p>
<h2>Cum puteți modifica setările cookie din browser-ul dumneavoastră?</h2>
<h2>Ștergerea Cookie-urilor</h2>
<p>Aplicațiile folosite pentru accesarea paginilor web permit salvarea Cookie-urilor pe terminal în mod implicit. Aceste setări pot fi schimbate în așa fel incât administrarea automată a Cookie-urilor să fie blocată de browser-ul web sau utilizatorul să fie informat de fiecare dată când Cookie-uri sunt trimise către terminalul său.</p>
<p>Informații detaliate despre posibilitățile și modurile de administrare a Cookie-urilor pot fi găsite în zona de setări a aplicației (browser-ului web). Limitarea folosirii Cookie-urilor poate afecta anumite funcționalități ale paginii web.</p>
<p>Majoritatea browserelor oferă posibilitatea de a schimba setările cookie-urilor. Aceste setări se găsesc de regulă în “opțiuni” sau în meniul de “preferințe” al browserului tău.</p>
<p>În cazul în care doriți să ne adresați orice solicitare cu privire la detaliile de mai sus, vă rugăm să ne contactați în scris la adresa ayushcellromania@gmail.com.</p>
</section>