<section class= "center">
<h1>Politica de confidențialitate</h1>
<h2>Introducere</h2>
<p>AYUSH CELL ROMANIA SRL, o societate înregistrată în mod corespunzător și care funcționează în conformitate cu legile din România, înregistrată la Registrul Comerțului sub nr. J40/6720/1994 , cod de înregistrare fiscală RO5509227, cu sediul în str. Ostasilor nr. 15 parter apartament 1A, sector 1, București, cod postal 10203, România („Compania”, „Noi” sau „Nouă”) va respecta confidențialitatea și se angajează să o protejeze prin respectarea prezentei Politici de confidențialitate.</p>
 
<p>Compania este operatorul de date în ceea ce privește prelucrarea datelor dumneavoastră cu caracter personal, în sensul Legii nr. 677/2001 pentru protecția persoanelor cu privire la prelucrarea datelor cu caracter personal și libera circulație a acestor date.
Prezenta Politică de confidențialitate descrie informațiile cu caracter personal pe care le colectăm de la dumneavoastră sau pe care le furnizați pe www.ayushcell.ro („Site-ul” nostru) și modul în care aceste informații pot fi utilizate sau divulgate de noi.
Politica noastră de confidențialitate nu se aplică informațiilor colectate de pe orice site terț care poate avea un link către sau este accesibil de pe Site-ul nostru.
Vă rugăm să citiți cu atenție cele ce urmează pentru a înțelege politicile și practicile noastre cu privire la informațiile dumneavoastră cu caracter personal și modul în care le vom trata.</p>
<h2>Informațiile pe care le colectăm despre dumneavoastră</h2>
<b>Colectăm mai multe tipuri de informații de la și despre utilizatorii Site-ului nostru, inclusiv, de exemplu:</b>
<ul>
<li> informații pe care le colectăm când navigați pe Site-ul nostru, inclusiv adrese IP, cookie-uri și web beacon-uri;</li>
<li> nume și prenume, detalii de contact, înregistrări și copii ale corespondenței (inclusiv adrese de e-mail), în cazul în care ne contactați și accesați online serviciile AYUSH CELL ROMANIA SRL.</li>
</ul>
<h2>Detalii de utilizare, adrese IP, cookie-uri și alte tehnologii</h2>
<ul>
<li> Detalii de utilizare și adrese IP. Putem colecta informații statistice cu privire la echipamentele, acțiunile și tiparele de navigare ale utilizatorilor Site-ului nostru. Aceste informații derivă din vizita și navigarea dumneavoastră pe Site. Informațiile pot include, de exemplu: (a) trafic, date privind jurnale și alte date de comunicare; (b) informații cu privire la resursele pe care le accesați; și (c) informații cu privire la computerul și conexiunea dumneavoastră la internet (de exemplu, inclusiv adresa dumneavoastră IP, sistemul de operare și tipul de browser), pentru administrarea sistemului;
<li> Cookie-uri. Putem obține informații referitoare la utilizarea generală a internetului de către dumneavoastră utilizând cookie-uri. Un cookie este un mic fișier stocat pe hard drive-ul computerului dumneavoastră. Utilizarea cookie-urilor ne ajută să ne îmbunătățim Site-ul și să oferim un serviciu mai bun și mai personalizat, ceea ce ne permite să:
<li> estimăm dimensiunea publicului și tiparele de utilizare;
<li> stocăm informații referitoare la preferințele dumneavoastră, ceea ce ne permite să ne personalizăm Site-ul în conformitate cu interesele dumneavoastră individuale;
<li> să vă recunoaștem atunci când reveniți pe Site-ul nostru.
</ul> 
<p><b>Navigarea pe www.ayushcell.ro implica acceptul politicii cookie a acestui site.</b></p>
<h2>Beacon-uri web </h2>
<p>Unele pagini ale Site-ului pot conține imagini electronice cunoscute drept beacon-uri web (denumite și gif-uri cu un singur pixel). Beacon-urile web permit Companiei să colecteze anumite informații în legătură cu utilizatorii Site-ului, inclusiv, de exemplu, numărul de utilizatori care accesează fiecare pagina web, date privind traficul, date privind jurnale și alte date de comunicare, informații în legătura cu accesul la resurse și informații referitoare la computerul și conexiunea la internet a utilizatorului (inclusiv adrese IP, sisteme de operare și tipul de browser). Beacon-urile web nu sunt utilizate pentru a vă accesa informațiile cu caracter personal de pe Site, ci sunt utilizate doar pentru a compila statistici agregate privind utilizarea Site-ului și pentru a verifica integritatea sistemului și a serverului.</p>
<h2>Utilizarea informațiilor</h2>
<p>Utilizăm informațiile pe care le colectăm despre dumneavoastră sau pe care ni le furnizați dumneavoastră, inclusiv informații cu caracter personal, în următoarele scopuri:</p>
<ul>
<li> pentru a ne prezenta Site-ul și conținutul acestuia într-un mod adecvat și eficient pentru dumneavoastră și computerul dumneavoastră;
<li> pentru a vă furniza informațiile pe care ni le solicitați;
<li> pentru a vă informa despre noile noastre servicii și produse sau despre modificările aduse acestora, inclusiv direct marketing;
<li>compilarea de statistici privind utilizatorii;
<li>securitatea și îmbunătățirea Site-ului nostru.</ul>
<h2>Divulgarea informațiilor dumneavoastră</h2>
<p>Putem divulga informațiile cu caracter personal pe care le obținem prin intermediul acestui Site către terți pentru:</p>
<li> a respecta o hotărâre judecătorească sau altă obligație juridică;</li>
<li> a executa sau a aplica Condițiile noastre de utilizare și alte acorduri;</li>
<li> a proteja drepturile și bunurile Companiei și a afiliaților acesteia. Aceasta include schimbul de informații în scopul protejării împotriva fraudei și al reducerii riscului de credit.</li>
Din păcate, transmiterea de informații prin intermediul internetului nu este niciodată 100% sigură. Cu toate că facem tot posibilul pentru a vă proteja informațiile cu caracter personal, nu putem garanta securitatea informațiilor dumneavoastră cu caracter personal transmise către Site-ul nostru. Orice transmitere de informații cu caracter personal implică asumarea din partea dumneavoastră.
<h2>Drepturile de care beneficiați în legătura cu procesarea datelor dumneavoastră cu caracter personal sunt următoarele:</h2>
<li> posibilitatea să obțineți de la Companie, la cerere și în mod gratuit, confirmarea ca datele dumneavoastră cu caracter personal sunt procesate de către noi, precum și detalii în legătură cu această procesare. Cererea poate fi depusă fără niciun cost doar o dată pe an;</li>
<li> dreptul de a rectifica, actualiza, bloca sau de a transforma in date anonime datele a căror prelucrare nu este conforma legii, in special datele incomplete sau inexacte;</li>
<li> dreptul de a vă opune în orice moment, din motive întemeiate și legitime legate de situația dumneavoastră particulară, la prelucrarea datelor dumneavoastră cu caracter personal;</li>
<li> dreptul de a vă opune în mod gratuit și fără nicio justificare la procesarea datelor dumneavoastră cu caracter personal pentru marketing direct, în numele operatorilor de date sau în numele unui terț sau să dezvăluim datele dumneavoastră în acest scop;</li>
<li> dreptul de a contesta deciziile luate exclusiv pe baza unor prelucrări de date efectuate prin mijloace automatizate și care produc consecințe juridice în ceea ce vă privește.</li>
<p>Pentru a vă exercita aceste drepturi, puteți depune o cerere, semnată și datată la următoarea adresă de email: ayushcellromania@gmail.com</p>
<h2>Durata stocării</h2>
<p>Vom păstra datele dumneavoastră cu caracter personal pentru o perioadă de timp necesară pentru scopurile indicate în secțiunea „Utilizarea informațiilor”, dar nu mai mult de 5 ani. După ce datele nu vor mai fi necesare pentru aceste scopuri, urmează a fi:</p>
<ol>
<li> distruse/șterse,</li>
<li> transferate către un alt operator de date cu caracter personal, sub condiția ca datele cu caracter personal să fie prelucrate în limite și scopuri similare cu cele agreate inițial sau</li>
<li> transformate în date anonime și păstrate exclusiv pentru scopuri statistice, de cercetare istorică sau științifică.</li>
</ol>
<h2>Modificări aduse Politicii noastre de confidențialitate</h2>
<p>Politica noastră este să postăm orice modificări pe care le aducem Politicii noastre de confidențialitate pe această pagină. Data ultimei revizuiri a Politicii noastre de confidențialitate este menționată în partea de sus a paginii. În măsura în care vom aduce modificări semnificative acestei Politici de confidențialitate, în special cu privire la prelucrarea datelor dumneavoastră cu caracter personal, vă vom solicita să reînnoiți acordul cu privire la prezentele Condiții de utilizare înainte ca aceste modificări să se aplice efectiv.</p>
<h2>Sesizări cu privire la Confidențialitate</h2>
<p>În măsura în care aveți orice îngrijorare cu privire la confidențialitatea datelor dumneavoastră cu caracter personal pe care le procesăm, sau doriți să efectuați o reclamație legată de confidențialitate, vă rugăm să ne transmiteți un e-mail la adresa ayushcellromania@gmail.com. Vă vom contacta pentru a confirma primirea emailului dumneavoastră. După primirea emailului dumneavoastră, vom investiga îngrijorarea sau reclamația transmisă și vom depune toate eforturile să vă furnizăm răspunsul nostru într-o durată de timp rezonabilă.</p>
<h2>Date de contact</h2>
<p>Pentru a transmite întrebări sau comentarii legate de Politica noastră de confidențialitate și practicile noastre de confidențialitate, vă rugăm să ne contactați folosind datele de contact de pe site sau la adresa de email ayushcellromania@gmail.com</p>
</section>
