<section class= "center">
<h1>Termeni & Condiții</h1>
 
<h2>Identificarea comerciantului</h2>
<p>Site-ul www.ayushcell.ro, denumit în continuare “ayushcell.ro”, este administrat de societatea AYUSH CELL ROMANIA SRL ., denumit în continuare “AYUSH CELL ROMANIA”, având următoarele date de identificare: Cod Unic de Înregistrare RO5509227, înregistrată la Registrul Comerțului cu nr. J40/6720/1994, cu sediul în str. Ostasilor nr. 15 parter apartament 1A, sector 1, București, cod postal 10203, România. Tel.: 0749 079 619.</p>
 
<p>Navigarea pe site-ul ayushcell.ro urmată de Comandă echivalează cu citirea, înțelegerea și acceptarea termenilor de mai jos de către orice Client.
ayushcell.ro își rezerva dreptul de a schimba și actualiza în orice moment conținutul acestui site, precum și Termenii și condițiile de folosire, fără nici un fel de notificare prealabilă.</p>
 
<p>În caz de divergentă sau neînțelegeri între ayushcell.ro și Client, se vor aplica Termenii și condițiile valabile la momentul Comenzii.</p>
 
<b>1. Definiții</b>
 
<p><b>Utilizator</b> – orice persoană care vizitează site-ul ayushcell.ro și care obține acces la conținutul de pe site, prin mijloace de comunicare puse la dispoziție de către ayushcell.ro (electronic, telefonic etc.), inclusiv prin intermediul unui CONT.</p>
<p><b>Cont</b> – un ansamblu alcătuit dintr-o adresă de email și o parolă, care permite unui singur utilizator accesul la anumite zone restricționate ale site-ului, prin care se face accesul la servicii.</p>
<p><b>Client</b> – persoana fizică / persoană juridică ce efectuează o Comandă.</p>
<p><b>Produse și Servicii</b> – orice produs sau serviciu menționat în Comandă, care urmează a fi furnizate de către Comerciant, Clientului.</p>
<p><b>Comandă</b> – un document electronic ce intervine ca formă de comunicare între Comerciant şi Client prin care Clientul își exprimă intenția de a achiziționa anumite Produse şi Servicii şi să facă plata acestora.</p>
<p><b>Comerciant</b> – societatea AYUSH CELL ROMANIA SRL ., având următoarele date de identificare: Cod Unic de Înregistrare RO5509227, înregistrată la Registrul Comerțului cu nr. J40/6720/1994, cu sediul în str. Ostasilor nr. 15 parter apartament 1A, sector 1, București, cod postal 10203, România. Tel.: 0749 079 619.</p>
<p><b>Contract</b> – o Comandă confirmată de către Comerciant, prin care Comerciantul este de acord să vândă și să livreze Produsele și Serviciile, iar Clientul este de acord să achiziționeze, să primească și să facă plata acestor Produse şi Servicii.</p>
<p><b>Curier</b> – orice persoană de drept public său privat care prestează servicii de curierat rapid.</p>
<p><b>Newsletter</b> – mijloc de informare periodic, exclusiv electronic – email, sms, asupra produselor/serviciilor sau promoțiilor desfășurate de către ayushcell.ro</p>
 
<b>2. Drepturile de autor (Copyright)</b>
 
<p>Conținutul site-ului ayushcell.ro, incluzând: imagini, texte, elemente de grafică web, scripturi, patente, mărci înregistrate, este integral proprietatea AYUSH CELL ROMANIA SRL și este apărat de Legea privind dreptul de autor şi drepturile conexe şi de legile privind proprietatea intelectuală şi industrială. Folosirea fără acordul AYUSH CELL ROMANIA a oricăror elemente enumerate mai sus se pedepsește conform legislației în vigoare.</p>
 
<p>AYUSH CELL ROMANIA SRL poate oferi Utilizatorului/Clientului, printr-un acord, dreptul de a utiliza sub o formă descrisă, un anumit conținut al site-ului. Acest acord se aplică strict pentru conținutul/conținuturile definite, pe o perioadă stabilită în acord și doar pentru persoana/persoanele cărora li s-a permis utilizarea acestor conținuturi, fără a putea utiliza alte conținuturi ale site-ului ayushcell.ro în alte scopuri.</p>
 
<p>Utilizarea pe ayushcell.ro a oricărui nume de marca înregistrată nu constituie reclama pentru compania respectivă. ayushcell.ro nu își asumă responsabilitatea şi nu poate fi învinuită pentru pagubele apărute prin folosirea conținutului site-ului.</p>
 
<p>Informațiile incluse pe ayushcell.ro au caracter informativ și sunt puse la dispoziție cu bună credință, din surse pe care Comerciantul le consideră de încredere. În cazul în care vreunul dintre articolele publicate sau orice altă informație intră sub incidența Legii privind dreptul de autor și drepturile conexe, Utilizatorul este rugat să aducă acest fapt la cunoștință Comerciantului la adresa ayushcellromania@gmail.com, pentru a putea fi luate măsurile legale necesare.</p>
 
<p>ayushcell.ro își rezervă dreptul de a anula Comenzile pentru Produse şi Servicii care sunt afișate pe site ca urmare a unor erori tehnice, sau care, din cauza unor erori tehnice prezintă preturi evident eronate/derizorii pentru produse (preturi pe care le poate aprecia că fiind eronate/derizorii orice cumpărător cu un nivel mediu de pregătire).</p>
Orice link-uri către alte site-uri sunt oferite numai în scopul unei accesibilități sporite a informațiilor, iar ayushcell.ro nu îşi asumă nici o responsabilitate sau răspundere pentru conținutul acestor site-uri, pentru produsele sau serviciile promovate sau comercializate prin aceste site-uri.</p>
 
<b>3. Limita accesului la site</b>
 
<p>Utilizatorii site-ului ayushcell.ro pot face comentarii şi orice alte comunicări, pot să transmită sugestii, întrebări sau informații, dacă limbajul acestora este civilizat, iar conţinutul comunicărilor nu este ilegal, obscen, ameninţător, defăimător, nu tulbura în nici un fel viaţa privată a altor persoane, nu încălca drepturile de proprietate intelectuală, nu conţine viruşi, nu serveşte unor campanii de promovare care nu au legătură cu ayushcell.ro, nu sunt e-mailuri în masă ori orice altă formă de spam. Persoanele care vor utiliza o adresă falsă de e-mail ori vor transmite mesaje electronice sau orice alte comunicări în numele unei alte persoane fizice sau juridice ori în numele oricărei alte entităţi vor fi raportate organelor abilitate. ayushcell.ro nu îşi asumă responsabilitatea şi nici nu va putea fi obligată la nici un fel de despăgubiri pentru orice fel de daune produse de astfel de comunicări.</p>
 
<p>În cazul trimiterii sau afişării unor materiale/documente care implică texte, replici, recenzii etc, formulate de Utilizatori, se consideră că respectivul Utilizator garantează originalitatea lor şi acordă ayushcell.ro şi afiliaţilor/asociaţilor săi dreptul neexclusiv, nelimitat, gratuit, irevocabil şi retransmisibil de a folosi, reproduce, modifica, adapta, publică, precum şi dreptul de a distribui, de a prezenta aceste conţinuturi oriunde în lume, prin orice mijloace. Utilizatorul garantează că are toate drepturile asupra conţinutului pe care îl afişează sau îl transmite pe site, prin orice modalitate, astfel încât, prin folosirea acestui conţinut, să nu cauzeze prejudicii niciunei terţe entităţi fizice sau juridice.</p>
 
<b>4. Prelucrarea datelor cu caracter personal</b>
 
<p>Categoriile de date personale prelucrate sunt: numele şi prenumele, telefon, adresa (domiciliu/reşedinţa), e-mail, obişnuinţe/preferinţe/comportament, imagine, voce, date de geolocalizare/date de trafic.</p>
 
<p>Atunci când un Utilizator îşi creează un cont pe ayushcell.ro, va primi comunicări comerciale din partea ayushcell.ro doar în măsura în care şi-a dat consimțământul expres, selectând opțiunea corespunzătoare.</p>
 
<p>Datele colectate cu privire la newsletter şi alerte sunt confidențiale. ayushcell.ro va putea selecta Utilizatorii cărora le va trimite newslettere şi alerte.</p>
 
<p>Conform Legii nr. 677/2001 pentru protecția persoanelor cu privire la prelucrarea datelor cu caracter personal şi libera circulaţie a acestor date, modificată şi completată, şi Legii nr. 506/2004 privind prelucrarea datelor cu caracter personal şi protecţia vieţii private în sectorul comunicaţiilor electronice, ayushcell.ro are obligaţia de a prelucra în condiții de siguranță şi numai pentru scopurile specificate datele personale furnizate de Utilizatori.</p>
 
<p>Scopul colectării datelor cu caracter personal este: gestiune economico-financiară, reclamă, marketing, publicitate, statistică, servicii de comunicaţii electronice, informarea Clienților privind situaţia contului lor de pe ayushcell.ro, informarea Clienţilor privind evoluţia şi starea Comenzilor.</p>
 
<p>Completarea de către Utilizatori a formularelor pe site echivalează cu acceptarea necondiționată că aceste date să fie incluse în baza de date a ayushcell.ro şi cu utilizarea şi prelucrarea de către ayushcell.ro, afiliații şi colaboratorii acestora pentru desfășurarea activităților enumerate mai sus, inclusiv, dar nelimitându-se la furnizori de servicii de servicii de marketing, curierat, servicii de plată / bancare.</p>
 
<p>Clienților le sunt garantate drepturile prevăzute de Legea nr. 677/2001 pentru protecția persoanelor cu privire la prelucrarea datelor cu caracter personal şi libera circulație a acestor date, respectiv dreptul de informare, dreptul de acces la date, dreptul de intervenție, dreptul de opoziție, dreptul de a nu fi supus unei decizii individuale, dreptul de se adresă justiţiei în caz de încălcare a drepturilor sale. Clienții au dreptul de a solicita ștergerea totală sau parțială a datelor cu caracter personal. Clientul poate solicita oricare dintre drepturile enumerate mai sus în baza unei cereri scrise, semnate și datate, înaintată către sediul AYUSH CELL ROMANIA.</p>
 
<p>Refuzul furnizării acestor date determina imposibilitatea onorarii Comenzilor.</p>
 
<p>În cazul în care Clientul îşi modifica prin utilizarea formularelor de pe site datele personale livrate deja către ayushcell.ro și există Comenzi în derulare, Comenzile îşi păstrează datele de la momentul plasării Comenzii iar livrarea produselor se va face luându-se în considerare datele nou modificate daca coletul nu a fost deja predat către curier.</p>
 
<p>ayushcell.ro nu solicită Utilizatorilor săi prin niciun mijloc de comunicare (telefon/e-mail etc) informații confidențiale, date despre conturi bancare, parole personale etc. În cazul în care Utilizatorul le divulga unor terți, acesta poartă întreaga responsabilitate pentru acţiunile sale. Astfel, în cazuri de divulgare de astfel de date, Utilizatorul nu poate ţine răspunzător pe ayushcell.ro pentru niciun fel de prejudiciu.</p>
 
<b>5. Inregistrarea ca Utilizator</b>
 
<p>Pentru crearea unui cont pe site-ul ayushcell.ro, utilizatorul este obligat să folosească o adresă de e-mail validă. ayushcell.ro poate refuza cererea de înregistrare sau poate șterge contul în situațiile în care constată că Utilizatorul a utilizat informații neconforme cu realitatea sau folosește serviciile într-un mod neconform cu uzanțele normale.</p>
 
<b>6. Prețul</b>
 
<p>Prețul final plătit de Client este format din prețul produsului/serviciului și alte încasări aferente. Prețurile de livrare sunt detaliate pe site înainte de finalizarea comenzii.</p>
<p>Toate preţurile aferente produselor şi serviciilor comercializate prin intermediul site-ului ayushcell.ro sunt exprimate în Lei.</p>
 
<b>7. Comanda</b>
 
<p>Pentru o comandă rapidă, Utilizatorul va seta detaliile preferate de Comandă (în situația în care anumite servicii achiziționate implică și livrare – unde să fie livrată, modalitatea de expediere și modalitatea de plată) în contul de Utilizator, iar aceste setări vor fi reținute și folosite pentru fiecare Comandă. Aceste setări pot fi modificate oricând.</p>
 
<p>Prin finalizarea Comenzii Clientul garantează că toate datele furnizate sunt reale şi corecte, în caz contrar ar putea suporta consecințele acestor erori (Comanda întârziată, transmisă greșit etc).</p>
 
<p>ayushcell.ro nu poate fi tras la răspundere pentru informații introduse eronat, din care pot decurge întârzieri de livrare. </p>
Prin finalizarea Comenzii, Clientul se declară de acord cu posibilitatea ca un reprezentant ayushcell.ro să îl contacteze prin orice mijloc disponibil convenit de către Părţi (e-mail/telefon) pentru confirmarea personală a Comenzii.</p>
 
<p>ayushcell.ro poate refuza o Comandă în urma unei notificări prealabile adresate Clientului, fără a exista obligații între părți și fără ca o parte să poată pretinde daune, pentru următoarele situații:
<ul>
<li>	eșuarea / invalidarea tranzacției online;</li>
<li>	neacceptarea de către banca emitentă a cardului Clientului / a tranzacției;</li>
<li>	date incomplete sau incorecte ale Clientului;</li>
<li>	activitatea Clientului poate produce daune site-ului ayushcell.ro/partenerilor;</li>
<li>	livrări consecutiv eșuate;</li>
<li>	alte motive obiective: în cazul în care Clientul nu garantează că modul de plată este valid şi că nu este obținut printr-o metodă frauduloasă sau există suspiciuni cu privire la modalitatea de plată.</li>
</ul>
Chiar dacă a luat toate măsurile pentru ca informația prezentată pe acest site să fie exactă şi corectă, ayushcell.ro nu poate fi răspunzătoare de inexactități care pot apărea în completarea de către Client a formularelor din site pentru finalizarea Comenzii. Utilizatorii sunt responsabili pentru evaluarea exactității, completitudinii şi utilității informațiilor furnizate în cadrul formularelor disponibile pe acest site.</p>
 
<p>În anumite situații şi pentru motive justificate, ayushcell.ro îşi rezerva dreptul de a modifica cantitatea Bunurilor şi/sau Serviciilor din Comandă. În aceste situații ayushcell.ro va anunța Clientul la adresa de e-mail sau la numărul de telefon puse la dispoziția Comerciantului la efectuarea Comenzii și va returna suma achitată în conformitate cu modificările.</p>
 
<p>Contractul se considera încheiat între Client şi ayushcell.ro în momentul primirii de către Client de la ayushcell.ro, prin intermediul site-ului/poștei electronice şi/sau SMS a notificării de acceptare a plății pentru Comandă.</p>
 
<p>În cazul în care un Bun şi/său Serviciu comandat de către Client nu poate fi livrat de către ayushcell.ro, ne obligăm să informăm Clientul asupra acestui fapt şi să returnăm în contul Clientului contravaloarea Bunului şi/sau Serviciului, în termen de maxim 30 zile de la data la care ayushcell.ro a luat la cunoştinţă acest fapt sau de la data la care Clientul şi-a exprimat în mod expres intenţia de reziliere a Contractului.</p>
 
<b>8. Facturare – plăți</b>
 
<p>Prețul, modalitatea de plată şi termenul de plată sunt specificate în Comandă. Comerciantul va emite către Client o factură pentru Produsele şi Serviciile livrate, obligaţia Clientului fiind să furnizeze toate informațiile necesare emiterii facturii conform cu legislaţia în vigoare.
Plata se poate face online cu cardul prin intermediul operatorului de plati PlatiOnline, prin transfer bancar sau ramburs la curier.</p>
 
<b>9. Livrarea</b>

<p>Atunci când există produse aferente serviciilor, acestea sunt livrate conform specificațiilor existente in pagina de produs sau servicii.
Orice întârziere suplimentară va fi comunicată Clientului şi se va agrea cu acesta un nou termen de livrare.</p>
 
<b>9.1 Condiţii de livrare</b>
<p>La solicitarea ayushcell.ro sau a Curierului, Clientul va face dovada identităţii sale, dacă e necesar prin una sau mai multe acte emise de autorităţi oficiale şi va comunica numărul de Comandă atribuit de către Comerciant.</p>
 
<p>În cazul în care Clientul se afla în imposibilitatea recepționarii Comenzii în mod personal, Comanda va fi lăsată la adresa precizată doar unei persoane cu vârsta mai mare de 18 ani şi doar în cazul comunicării către Curier, a numărului Comenzii.</p>
 
 
<p>Nicio cerere de livrare a unei Comenzi nu va putea fi onorată dacă Clientul nu îndeplinește condițiile de mai sus.</p>
 
 
<p>În cazul livrării la locul de muncă al Clientului, caz în care Curierul nu poate avea acces în locația respectivă, Clientul trebuie să se asigure că poate recepționa această Comandă.
Clientul va fi contactat telefonic de către Curier în prealabil pentru a obține confirmarea prezenței acestuia la adresa şi ora selectate în momentul validării Comenzii pe site.
Clientul se obligă să fie prezent la adresa de livrare indicată, în intervalul orar selectat, în caz contrar acesta va suporta taxa de transport aferentă unei posibile noi livrări. Intervalul orar va putea fi modificat, ulterior selectării, doar cu acordul Curierului.</p>
 
<p>Atunci când exista produse/servicii ce necesită transport, livrarea se consideră a fi îndeplinită de către ayushcell.ro, la momentul predării produselor Comandate către Client la adresa selectată de acesta la momentul plasării Comenzii.</p>
 
<b>9.2 Recepţia produselor</b>
<p>Clientul se obliga să semneze bonul de livrare (AWB) prezentat de către Curier sau Poşta Română la livrarea produselor comandate, la care este anexat şi bonul fiscal ce conține toate informațiile despre produsele livrate (denumire produs, cantitate, preț).</p>

<p>Prin semnarea bonului de livrare Clientul recunoaște primirea în bune condiții și în totalitate a produselor Comandate.</p>
 
<b>10. Dreptul de retragere</b>
 
<b>Exercitarea dreptului de retragere</b>
 
<p>Nerespectarea obligațiilor asumate prin prezentul contract de către una dintre părți dă dreptul părții lezate de a cere în scris rezilierea contractului şi de a pretinde rambursarea sumelor plătite, mai puțin comisioanele bancare și cheltuieli aferente acestor plăți. Rambursarea se face în contul bancar menționat de beneficiar în cererea de reziliere a contractului.</p>
 
<p>Pentru comenzile platite cu cardul suma va fi returnata pe acelasi card utilizat la tranzactionare, in decurs de maxim 14 zile de la acceptarea returului
Consumatorul informează SC AYUSH CELL ROMANIA SRL cu privire la decizia de retragere din contract, notificând în scris sau telefonic că renunță la cumpărare, insa nu mai târziu de la data de început a serviciului achiziționat.</p>
 
<b>Procedura de retur – se aplica doar in cazul comenzilor care necesita livrare</b>

<p>Mai întâi, se va face intenția de retur printr-o sesizare scrisă prin următoarea metoda:
<ul>
<li> Prin intermediul adresei de email: ayushcellromania@gmail.com</li>
Solicitarea de retur trebuie să conțină următoarele informații:
<li> Nume/prenume;</li>
<li> Adresă de livrare;</li>
<li> Adresă de email/nr. de telefon;</li>
<li> Numărul facturii;</li>
</ul>
Dupa anularea unei tranzactii prin card, banca emitenta va debloca suma blocata in contul clientului in termen de 1-30 de zile, in functie de politica acesteia.
Cheltuielile de transport vor fi suportate în totalitate de către client.</p>
 
<b>11. Forţa majoră</b>
 
<p>Niciuna dintre părțile contractuale nu poate fi trasă la răspundere pentru neexecutarea (total/parțial) sau executarea cu întârziere a obligațiilor sale, dacă acestea au fost cauzate de forţă majoră. Părţile îşi vor aduce la cunoștință de îndată cazul de forţă majoră şi vor lua toate măsurile necesare în vederea limitării consecinţelor evenimentului.
Dacă în termen de 14 zile evenimentul de forţă majoră nu încetează, părţile au dreptul de a denunţa unilateral contractul fără pretinderea de daune-interese.
Forţa majoră va fi probata conform legii.</p>
 
<b>12. Soluţionarea conflictelor.</b>
 
<p>Pentru orice sesizare ne puteți contacta telefonic 0749 079 619, sau prin email la adresa: ayushcellromania@gmail.com. Orice conflict apărut între ayushcell.ro şi Clienţi va fi rezolvat pe cale amiabilă. În cazul în care rezolvarea amiabila nu este posibila, prima cale de soluţionare este medierea, în condiţiile legii, iar dacă aceasta eșuează se apelează la instanțele românești competente de la domiciliul Clientului. Contractul va fi interpretat în conformitate cu legea romană.</p>
 
<b>13. Litigii</b>
 
<p>Prin folosirea, vizitarea, vizualizarea site-ului ayushcell.ro şi/sau al oricărui conţinut trimis de către ayushcell.ro Utilizatorului/Clientului prin accesare şi/sau expediere prin orice mijloc (electronic, telefonic, etc), acesta se declară de acord cel puțin cu prevederile “Termeni şi condiţii”. Orice neînțelegere sau dispută cu referire la prezențele Termeni şi Condiții care ar putea să apară între Utilizator/Client și ayushcell.ro sau partenerii săi se va rezolva pe cale amiabilă, părţile depunând toate eforturile necesare în acest sens. Dacă aceasta nu va fi posibilă, conflictul va fi soluţionat de către instanţă competentă de la sediul AYUSH CELL ROMANIA, în conformitate cu legile române în vigoare.</p>
 
<p>Dacă oricare dintre clauzele de mai sus va fi găsită nulă sau nevalida, indiferent de cauză, această clauză nu va afecta valabilitatea celorlalte clauze. Prezentul document a fost redactat şi va fi interpretat în conformitate cu legislaţia romană</p>
 
<b>14. Fraudă</b>
 
<p>Crearea de conturi multiple folosind astfel de adrese generate automat şi care expira după o perioadă predefinita, pentru a putea beneficia de promoţii sau oferte, sau orice comportament fraudulos în măsură să afecteze bunul mers al campaniilor, este interzisă şi va fi considerată o tentativă de fraudă. Proprietarul site-ului ayushcell.ro îşi rezerva dreptul de a suspenda conturile astfel create şi de a retrage beneficiile aferente promoţiilor sau ofertelor în curs, de a anula contul fără preaviz, înştiinţare, alte formalităţi sau despăgubiri.</p>
 
<p>Orice tentativă de fraudă sau orice fraudă (cum ar fi dar fără a se limita la: accesarea datelor Clienţilor ayushcell.ro, alterarea conţinutului site-ului, încercarea de afectare a performanţelor serverelor ayushcell.ro, deturnarea conţinutului livrărilor către terţi etc) vor fi pedepsite conform legii penale.</p>
 
<b>15. Selecția Participanților, Dreptul de Refuz și Returnarea Plății</b>
<p><strong>Dreptul de Selecție</strong>: Societatea AYUSH CELL ROMANIA SRL își rezervă dreptul de a selecta participanții la cursurile și accesul la aplicațiile oferite. Selecția se bazează pe criterii stabilite de către organizatori și poate include, dar nu se limitează la, experiența anterioară, competențele relevante, motivația și disponibilitatea candidatului.</p>

<p><strong>Dreptul de Refuz</strong>: AYUSH CELL ROMANIA SRL își rezervă dreptul de a refuza înscrieri la cursurile sale sau accesul la aplicațiile sale, fără a fi necesară furnizarea unui motiv specific. Deciziile noastre sunt finale și nu pot fi contestate. În cazul în care un candidat a efectuat deja plata pentru un curs sau pentru accesul la o aplicație și înscrierea sau accesul său este refuzat, suma plătită va fi returnată în totalitate într-un termen stabilit.</p>

<p><strong>Transparență și Egalitate</strong>: Deși ne rezervăm dreptul de selecție și refuz, ne angajăm să aplicăm aceste drepturi într-o manieră echitabilă și transparentă, respectând principiile nediscriminării și egalității de șanse.</p>

<p><strong>Comunicare</strong>: Candidații care nu au fost selectați pentru participare la cursuri sau pentru accesul la aplicații vor fi informați într-un termen rezonabil. Încurajăm toți candidații să revizuiască criteriile de selecție și să se asigure că îndeplinesc cerințele necesare înainte de a se înscrie sau de a solicita acces. </p>

<p><strong>Modificări și Actualizări</strong>: Termenii și condițiile referitoare la selecția participanților, accesul la aplicații și returnarea plății pot fi modificate în orice moment. Vă recomandăm să revizuiți această secțiune periodic pentru a fi la curent cu orice schimbări. </p>

<b>16. Dispoziţii finale</b>
 
<p>ayushcell.ro îşi rezerva dreptul de a putea efectua orice modificări ale acestor prevederi precum şi orice modificări ale site-ului/structurii acestuia/serviciului cu sau fără notificarea prealabilă a Utilizatorului sau Clientului.</p>
 <p>În limita prevederilor Termeni şi Condiții, ayushcell.ro nu va putea fi făcută responsabilă pentru eventualele erori apărute pe site din orice cauză, inclusiv din cauza unor modificări, setări, etc., care nu sunt făcute de către administratorul site-ului. Totodată, ayushcell.ro își rezervă dreptul de a introduce bannere publicitare de orice natură şi/sau legături pe oricare pagină a site-ului, cu respectarea legislației în vigoare.</p>
<p>Dacă oricare dintre clauzele de mai sus va fi găsită nulă sau nevalida, acest fapt nu va afecta valabilitatea celorlalte clauze.</p>

</section>
