<h1>Testare Conexiune Debian</h1>
<p><%= @message %></p>

<!-- Player Video.js -->
<video id="my-video" class="video-js vjs-default-skin" controls preload="auto" crossorigin="anonymous">
  <source src="<%= @video_url_mp4 %>" type="video/mp4">
</video>

<!-- Include stilurile și scripturile Video.js -->
<link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/7.20.3/video.js"></script>

<!-- Inițializează player-ul Video.js pentru fișierul MP4 -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var player = videojs('my-video', {
      controls: true,
      preload: 'auto',
      techOrder: ['html5'] // Asigură-te că folosește HTML5 pentru MP4
    });

    // Debugging: Afișează un mesaj când playerul este inițializat
    console.log("Playerul video a fost inițializat cu Video.js și MP4.");

    // Debugging: Afișează erori dacă există
    player.on('error', function() {
      var error = player.error();
      console.error('Eroare apărută în player:', error.code, error.message);
    });

    player.on('canplay', function() {
      console.log("Playerul este gata să redea video.");
    });
  });
</script>
