<h1>Testare Conexiune Debian</h1>

<!-- Afișare cheie de criptare (doar pentru testare) -->
<p>Cheia de criptare: <%= @encryption_key %></p>

<!-- Player Video.js -->
<video id="my-video" class="video-js vjs-default-skin" controls preload="auto" crossorigin="anonymous">
  <source src="<%= @video_url %>" type="video/mp4">
</video>

<!-- Include stilurile și scripturile Video.js -->
<script src="https://vjs.zencdn.net/7.20.3/video.js"></script>
<link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
