<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Video Player (HLS)</title>

  <!-- Include Video.js CSS -->
  <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

  <!-- Include Video.js script -->
  <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

  <!-- Include HLS.js for Video.js -->
  <script src="https://cdn.jsdelivr.net/npm/videojs-contrib-hls@5.14.1/dist/videojs-contrib-hls.min.js"></script>
</head>
<body>

  <h1>Test Video Player (HLS)</h1>

  <p><%= @message %></p>

  <!-- Playerul Video.js pentru HLS -->
  <% if @video_url_hls.present? %>
    <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" width="640" height="360" data-setup="{}" oncontextmenu="return false;" controlsList="nodownload">
      <source id="videoSource" src="<%= @video_url_hls %>" type="application/x-mpegURL">
      Your browser does not support the video tag.
    </video>
  <% else %>
    <p>Video-ul nu este disponibil.</p>
  <% end %>

  <script>
    const videoPlayer = videojs('my-video');
    videoPlayer.on('loadedmetadata', function() {
      console.log('HLS video loaded successfully.');
    });
  </script>

</body>
</html>
