<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @aremail.each do |email| %>
      <tr>
        <td><%= email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
