<style>
#traditia .cm h2 {
    font-size:22px;
}
#traditia .register{
    border: 1px solid #4b0082;
    background-color:#4b0082;
}
#traditia .cm h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:5px;
}
#traditia .register{
    margin:0;
    margin-top:20px;
    margin-left:10px;
}
#traditia .table td {
    text-align:center;
}
@media screen and (max-width: 720px) {
    #traditia .register{
        margin:0 auto;
        margin-top:20px;
        margin-left: auto;
    }
    .cm{
        text-align:center;
    }
}

</style>
<% content_for :title, "Traditia Ayurvedică - Amnaya Tantraka | Ayush Cell Romania" %>
<% content_for :description, "Aflați mai multe despre Amnaya Tantraka și tradiția Ayurvedică. Descoperiți cunoașterea continuță in textele tradiționale cum sunt Charaka sau Sushruta Samhita precum și modul in care practicile de meditație vă pot conecta la nivele superioare de conștiință." %>
<% content_for :keywords, "Amnaya Tantraka, Ayurveda, Charaka-Samhita, Sushruta-Samhita, Ashtanga-Hridaya, Kashyapa-Samhita, Sharangadhara-Samhita, tradiție ayurvedică, Divya-pratna, Rishi-pratna, meditație, înțelepciuni ayurvedice, Brahma, Trimurti, Indra, Dhanvantari, Sarasvati, Agni, sănătate holistică" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/traditia_ayurvedica">
<% end %>

<div class="container" id="traditia">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Ayush Cell Romania: Traditia Ayurvedică - Nimi</h1>
    <h2 class="main-title" >Traditia Ayurvedică - Nimi</h2>

<section>

</section>

</div>
</div>