<section class="c1">
<% if !user_signed_in? || (current_user && !@has_access) %>
<h1 class="ch1">Bun venit la Programul de pregătire: Nutritie Ayurvedică modulul 1</h1>
<p>Programul de pregătire în nutriția ayurvedică practică aplicată a fost conceput pentru a avea o aplicabilitate imediată prin obiectivarea parametrilor nutriționali personali și prin conștientizarea obiceiurilor alimentare personale ale participanților, cu scopul de a oferi oportunități în direcția unei certe îmbunătățiri a stilului de viață prin nutriția ayurvedică aplicată.</p>
<p>
Pentru a vă înscrie la acest modul, vă rugăm să ne trimiteți un mesaj prin intermediul formularului de pe <a href='/contact'>pagina noastră de contact</a>.

</p>
<% if !user_signed_in? %>
<div class="btn-fp">
    <%= link_to 'Intră în cont', new_user_session_with_return_path('nutritie1'), class: 'btn-fp-link' %>
</div>
<%end%>
<%end%>
<% if current_user && @has_access %>
<h1 class="ch1">Bun venit la Programul de pregătire: Nutritie Ayurvedică modulul 1</h1>
<%else%>
<br><br><br>
<%end%>
    <% if current_user && (@has_access || @has_access1)%>
        <h2 style= "text-align: center;padding: 0 10px;">Resurse</h2></br>



        <div id="videos">
            <table class="table">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Nume</th>
                    <th>Descriere</th>       
                    <th>Actiune</th>
                    <th>Descarca PDF</th>
                </tr>
                </thead>
                <tbody>
                
                <% previous_video_tip = nil %>
                <% if current_user && @has_access%>
                <% @myvideo4.each do |video| %>
                    <%= render partial: 'video1', locals: { video: video, previous_video_tip: previous_video_tip } %>
                    <% previous_video_tip = video.tip %>
                <% end %>
                <% end %>
                <% if current_user && @has_access1%>
                <% @myvideo3.each do |video| %>
                    <%= render partial: 'video1', locals: { video: video, previous_video_tip: previous_video_tip } %>
                    <% previous_video_tip = video.tip %>
                <% end %>
                <% end %>

                </tbody>
            </table>
        </div>
    <%end%>
 
</section>