<section class="c1">
  <% if user_signed_in? %>
    <h1 class="text-center" style="margin: 50px 0 50px 0;font-size:1.5em;">Te rog să introduci datele de facturare pentru: </br> <%= @prod.nume %></h1>
    <%= turbo_frame_tag 'detaliifacturare_form' do %>
      <%= render 'form', detaliifacturare: @detaliifacturare %>
    <% end %>
  <% else %>
    <h1 class="mb-3">Trebuie să te loghezi pentru a vedea această pagină.</h1>
    <%= link_to "Loghează-te aici", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</section>
