<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      /* Adaugă stilizarea dorită pentru aspectul emailului */
    </style>
  </head>
  <body>
    <h1>Mesaj de contact</h1>
    <p>Nume: <%= @name %></p>
    <p>Mesaj: <%= @message %></p>
  </body>
</html>
