<section class="c1">
<h1 class="ch1">Bun venit la Programul de pregătire: Nutritie Ayurvedică modulul 2</h1>
    <% if current_user && @has_access %>
        <h2 style= "text-align: center;padding: 0 10px;">Resurse</h2></br>



        <div id="videos">
            <table class="table">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Nume</th>
                    <th>Descriere</th>       
                    <th>Actiune</th>
                    <th>Descarca PDF</th>
                </tr>
                </thead>
                <tbody>
                
                <% previous_video_tip = nil %>
                <% @myvideo4.each do |video| %>
                    <%= render partial: 'video1', locals: { video: video, previous_video_tip: previous_video_tip } %>
                    <% previous_video_tip = video.tip %>
                <% end %>

                </tbody>
            </table>
        </div>
    <%end%>
 
</section>