<h1>Editing valorinutritionale</h1>

<%= render "form", valorinutritionale: @valorinutritionale %>

<br>

<div>
  <%= link_to "Show this valorinutritionale", @valorinutritionale %> |
  <%= link_to "Back to valorinutritionales", valorinutritionales_path %>
</div>
