<h1 class="alimente-nutritionale">Alimente si valori nutritionale</h1>

<%= turbo_frame_tag "valorinutritionales_table" do %>

  <%= render "valorinutritionales_table", valorinutritionales: @valorinutritionales %>
<% end %>


<%= turbo_frame_tag "valorinutritionales_results" do %>
  <%= render partial: "valorinutritionales/valorinutritionales_results", locals: { selected_valorinutritionales: @selected_valorinutritionales, valorinutritionale_values: @valorinutritionale_values, total_values: @total_values } %>
<% end %>
