<h1>Editing facturaproforma</h1>

<%= render "form", facturaproforma: @facturaproforma %>

<br>

<div>
  <%= link_to "Show this facturaproforma", @facturaproforma %> |
  <%= link_to "Back to facturaproformas", facturaproformas_path %>
</div>
