<!-- app/views/tipconstitutionals/_total_sum.html.erb -->
<%= turbo_frame_tag 'total-sum-display' do %>
  <%if verificare==1 %>
  <p>În urma completării acestui test util în procesul de determinare a predominanței constituționale ayurvedice ați obținut următoarele valori procentuale pentru ponderea celor trei dosha-uri în propria ființă, în funcție de valorile numerice pe care le-ați introdus la această parcurgere a testului: <br><b style="display: block; margin-top: 10px;">Vata Dosha se manifestă în proporție de <%= v %>%<br>Pitta Dosha se manifestă în proporție de <%= p %>%<br>Kapha Dosha se manifestă în proporție de <%= k %>%</b></p>

  <p>Aceste valori procentuale reprezintă rezultatul estimărilor personale realizate de dvs. pe baza aprecierii direcțiilor indicate în fiecare formular și vă oferă în acest moment o importantă perspectivă orientativă de început în autoevaluarea tipului constituțional ayurvedic. Reperele selectate pentru acest test sunt orientative și nu pot fi considerate suficiente pentru o înțelegere competentă asupra sistemului tipologiilor constituționale din Ayurveda. Aceste indicii pot fi utile ca repere inițiale de cunoaștere a tipului constituțional propriu obținute prin metodologia aplicată în cadrul cursurilor de Ayurveda oferite de AMN-România, Ayus Grup România și Ayush Cell România.</p>
<p>Dobândirea unui prim nivel de competență în Ayurveda include aspecte de bază despre cunoașterea constituțiilor ayurvedice și o serie de aplicații practice conexe (Dosha-Prakriti), aspecte referitoare la modelarea și adaptarea benefică a stilului de viață al persoanei (Svasthavritta) și aspecte referitoare la folosirea ayurvedică a alimentelor naturale și a plantelor medicinale, în conformitate cu principiile și cu modalitățile ayurvedice (Dravyaguna).</p>
<p>Aceste trei domenii de studiu în Ayurveda alcătuiesc suportul de cunoștințe pentru primele 3 module ale cursului de Ayurveda susținut în cadrul Ayurveda AMN-România, Ayus Grup Romania și Ayush Cell Romania. </p>
<p>Înscrierea la acest curs de ayurveda și parcurgerea completă a celor 3 module oferă posibilitatea dobândirii cunoștințelor, aptitudinilor și competențelor de bază în Ayurveda, în urma parcurgerii unui număr de peste 300 de ore de studiu și de practică ayurvedică.</p>

  <%else%>
  <p style= "color: red;">Te rugam sa completezi toate cele 3 tabele</p>
  <% end %>


<% end %>
