<!-- app/views/tipconstitutionals/_total_sum.html.erb -->
<%= turbo_frame_tag 'total-sum-display' do %>
  <%if verificare==1 %>
  <p>În urma completării testului Ayurvedic, ați obținut următoarele valori procentuale ale predominanței celor trei dosha în ființa proprie: <br><b style="display: block; margin-top: 10px;">Vata Dosha se manifestă în proporție de <%= v %>%<br>Pitta Dosha se manifestă în proporție de <%= p %>%<br>Kapha Dosha se manifestă în proporție de <%= k %>%</b></p>

  <p>Este esențial să reținem că aceste valori procentuale oferă în primul rând o perspectivă inițială, reprezentând un pas important în autoevaluarea tipului constituțional ayurvedic. Deși aceste indicii sunt deosebit de utile fiind un un reper pentru adoptarea unui comportament adecvat, ele nu sunt totuși suficiente pentru o înțelegere completă a sistemului Ayurveda.</p>
<p>Dobândirea unui aşa-zis prim nivel de competenţă în Ayurveda include aspecte de bază despre cunoaşterea constituţiilor ayurvedice şi o serie de aplicaţii practice conexe (Dosha-parkriti), aspecte referitoare la modelarea şi adaptarea benefică a stilului de viaţă al persoanei (Svasthavritta) şi aspecte referitoare la folosirea ayurvedică a alimentelor naturale şi a plantelor medicinale atat romanesti cat si indiene, în conformitate cu principiile şi cu modalităţile ayurvedice (Dravyaguna)</p>
<p>Aceste trei secţiuni de bază alcătuiesc programa primilor 3 ani de studiu în cadrul cursului de Ayush Cell Romania & Ayurveda AMN-România, astfel că parcurgerea acestora asigură dobândirea calificării de bază în Ayurveda, însumând un număr de 360-450 de ore de studiu şi de practică ayurvedică</p>

  <%else%>
  <p style= "color: red;">Te rugam sa completezi toate cele 3 tabele</p>
  <% end %>


<% end %>
