<h1>Editing tipconstitutional</h1>

<%= render "form", tipconstitutional: @tipconstitutional %>

<br>

<div>
  <%= link_to "Show this tipconstitutional", @tipconstitutional %> |
  <%= link_to "Back to tipconstitutionals", tipconstitutionals_path %>
</div>
