<section class="c1">
<h1 class="ch1">Bun venit la Programul de pregătire: Nutritie Ayurvedică modulul 3</h1>
<h2 class="ch1" style= "margin-top: -20px;">In curand vor fi afisate datele de logare pe platforma ZOOM:</h2>
<h3 class="ch1" style= "text-align: left;">Meeting ID:</h3>
<h3 class="ch1" style= "text-align: left;margin-top: -20px;">Passcode:</h3>


<p class="text-success"><%= notice %></p>


<% if current_user %>
<% if @has_access %>
<h1 style= "text-align: center;padding: 0 10px;">Înregistrări video Program de pregătire: Nutritie Ayurvedică modulul 3 </h1></br>



<div id="videos">
  <table class="table">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>
       
        <th>Actiune</th>
      </tr>
    </thead>
    <tbody>
    <% @myvideo.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %><% end %>
</section>

