<h1>Editing modulecursuri</h1>

<%= render "form", modulecursuri: @modulecursuri %>

<br>

<div>
  <%= link_to "Show this modulecursuri", @modulecursuri %> |
  <%= link_to "Back to modulecursuris", modulecursuris_path %>
</div>
