/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
 padding: 0 10px;
 width:100%;
 }
 .home {
    max-width: 1250px;
    margin: 0 auto;
}

.firstpage {
    font-size: 2rem;
    padding-top: 50px;
    text-align: center;
}

.firstpage a {
    text-decoration: none;
    color: #64025e;
    text-decoration: underline;
}

.firstpage a:hover {
    color: #50024c;
}

@media (max-width: 768px) {
    .firstpage {
        font-size: 1.5rem;
        text-align: center;
    }
}
 .rotate-landscape {
    transform: rotate(-90deg) translate(-100%);
    transform-origin: top left;
    position: absolute;
    width: 100vh;
    height: 100vw;
    overflow: auto;
    background: white;
}

@media only screen and (min-width: 601px) {
    .rotate-landscape {
        transform: none;
        position: static;
        width: 100%;
        height: auto;
    }
}
 .pagination a{
    padding: 0 10px;
    color: #64025e;
 }
 .pagination{
    justify-content: center;
 }

 #logare {
    
 }