/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require cookie_law
 */
 input[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
 .alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}
.has-error .form-control {
  border-color: #dc3545; /* Red */
}

 body {
 width:100%;
 }
 .home {
    max-width: 1250px;
    margin: 0 auto;
}

.firstpage {
    font-size: 2rem;
    padding: 50px 0 30px 0;
    text-align: center;
}

.firstpage a {
    text-decoration: none;
    color: #64025e;
    text-decoration: underline;
}

.firstpage a:hover {
    color: #50024c;
}

@media (max-width: 768px) {
    .firstpage {
        font-size: 1.5rem;
        text-align: center;
    }
}
 .rotate-landscape {
    transform: rotate(-90deg) translate(-100%);
    transform-origin: top left;
    position: absolute;
    width: 100vh;
    height: 100vw;
    overflow: auto;
    background: white;
}

@media only screen and (min-width: 601px) {
    .rotate-landscape {
        transform: none;
        position: static;
        width: 100%;
        height: auto;
    }
}
 .pagination a{
    padding: 0 10px;
    color: #64025e;
 }
 .pagination{
    justify-content: center;
 }

 #logare {
    
 }
 .submenu li{
    padding: 3px 20px;
  }
  
.submenu .nav-menu a:hover::after {
      background-color: white;
  }

@media (max-width: 992px){
.submenu a{ 
color:black
}
}  
footer {
    background-color: #6B1463;
    padding: 20px;
    color: #ffffff;
    font-size: 16px;
  }
      
  
  .footer-row1 {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-row2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-row2 .footer-column {
    box-sizing: border-box;
    width: calc(33.33% - 20px);  /* scădem marjele stânga și dreapta de 10px fiecare */
    margin: 10px;
    padding: 10px;
  }
  
  
  
  .img-right {
    justify-content: right;
    width: 50%;
    padding: 10px 20px;
    display: flex;
  }
  
  .img-left {
    justify-content: left;
    width: 50%;
    padding: 10px 20px;
    display: flex;
}
  
  .footer-content{
    max-width: 1280px;
    margin: 0 auto;
  }
  
  footer img {
    width: auto;
    height: auto;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: -10px;
  }
  .footer-column a{ 
    color: white;
    text-decoration: none;
   }
   .footer-column a:hover{ 
    font-weight: 700;
   }
   .center{
    max-width: 1280px;
    margin: 0 auto;
  }
  .center h1{
    padding: 50px 10px 20px 10px;
  }
  .center p, .center h2{
    padding-left: 10px;
    padding-right: 10px;
  }
  .center h2{
    font-size: 25px;
  }

  
  @media screen and (max-width: 920px) {
        .footer-row1{
          display: inline;
        }
        .footer-row2 .footer-column {
            width: 100%;
        }
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      width: 100%;
      text-align: center;
    }

    .img-left,
    .img-right {
      justify-content: center;
      width: 100%;
    }
    .center h1{
      text-align: center;
    }
  }

  .nutritie{
    margin: 0 auto;
  }
  .nutritie .row {
    display: flex;
  }
  
  .nutritie .column {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nutritie .description {
    margin-top: 5px;
    font-size: 18px;
  }

  .nutritie .button {
    margin:30px 0 20px 0;
  }

  .nutritie .button a {
    background-color: #64025e;
    color: #fff;
    padding: 12px 40px;
    font-size: 18px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

.stripe .button a:hover{
    background-color: #50024c;
  }


  .stripe .button {
    margin:30px 0 20px 0;
  }

  .stripe .button a {
    background-color: #64025e;
    color: #fff;
    padding: 12px 40px;
    font-size: 18px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .stripe .button a:hover{
    background-color: #50024c;
  }

  
  
 .nutritie img{
  max-width: 600px;
  width: -webkit-fill-available;
  padding: 10px;
  }


  .nutritie .column:last-child {
    flex-direction: column;
    align-items: flex-start; /* Aliniere la stânga pentru conținutul coloanei pe desktop */
    padding-left: 60px;
  }
  
  @media only screen and (min-width: 993px) {
.ivl{
  display: flex!important; 
  flex-direction: column; 
  align-items: flex-start!important;
  padding-left: 50px!important;
}
.endrow{
  margin-bottom: 50px;
}
  }


  @media only screen and (max-width: 992px) {
    .nutritie .row {
      display: flex;
      flex-direction: column-reverse;
    }
    
    .nutritie .ivl {
      order: 2;
    }
    
    .nutritie .ivl1 {
      order: 1;
    }

}
  /* Restul stilurilor media queries pentru diferite dimensiuni */
  @media only screen and (min-width: 992px) {
    .nutritie .row {
      flex-wrap: nowrap;
    }
  
    .nutritie .column {
      width: 50%;
    }
  }
  

  
  @media only screen and (max-width: 991px) {
    .nutritie .row {
      flex-direction: column;
    }
    .nutritie .button {
      margin: 20px 10px 20px 10px;
    }
    .nutritie .column {
      flex-basis: auto;
      display: block;
      text-align: center;
    }
    .nutritie .column:last-child {
      padding: 20px;
    }
  }
  
  .c1{
    max-width: 1280px;
    margin: 0 auto;
  }
  .cform{
    max-width: 650px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .ch1{
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #6B1463;
  }

  .btncontact {
    margin: 30px 0 20px 0;
    background-color: #64025e;
    color: #fff;
    padding: 6px 30px;
    font-size: 18px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: none; /* Pentru a elimina bordura implicită a butonului */
    cursor: pointer; /* Pentru a arăta că este un buton clicabil */
}

@media only screen and (max-width: 768px) {
  .btncontact {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.btncontact:hover {
    background-color: #50024c;
}

  .cform textarea {
    height: 150px;
  }
  .cform label{    
    padding-top: 10px;
  }


.confirmation{
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px;
}
@media only screen and (min-width:992px) {
  .confirmation{
  margin-top: 50px!important;
}
}
@media only screen and (max-width:991px) {
  .confirmation{
  margin-top: 10px!important;
  text-align: center;
}
.confirmation li{
  text-align: justify;
}
}

#cookie-law-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#cookie-law-banner p {
  margin: 0;
  line-height: 1.5;
}

#cookie-law-banner button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
}





#cookie-settings-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cookie-settings-window p {
  margin-bottom: 20px;
}

#cookie-settings-window button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285F4;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}


.google-button img {
  margin-right: 8px;
}
