
.containerglob {
  padding: 0 10px;
}
.tabel-container {
  margin: 0 auto;
  max-width: 1250px;
 }
.tabel-container table {
border-collapse: collapse;
width: 100%;
font-family: Arial, sans-serif;
}

.tabel-container th, .tabel-container td {
text-align: left;
padding: 3px 5px;
}

.tabel-container th {
background-color: #64025e;
color: white;

}

.tabel-container tr:nth-child(even) {
background-color: white;
}

.tabel-container tr:hover {
background-color: #ddd;
}

.tabel-container .form-container .btn {
display: inline-block;
padding: 6px 12px;
font-size: 13px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
background-color: #64025e;
color: #fff;
}

/* Media Queries pentru dispozitive mobile */
@media screen and (max-width: 767px) {
.tabel-container table {
font-size: 12px;
}.tabel-container .form-container .btn {
font-size: 12px;
padding: 4px 8px;
}
.tabel-container th, .tabel-container td {
padding: 4px;
}
.tabel-container .btn{
  font-size: 12px;
}
}

.alimente-nutritionale {
  font-size: 32px;
  padding-bottom: 20px;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .alimente-nutritionale {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
}
.valorile-nutritionale {
  padding-bottom: 15px;
}
.selectie{
  padding: 45px 0 15px 0;
  }
  
  
  .tabel-container .btn {
      background-color: #64025e;
      color: #fff;
      padding: 3px 10px;
  }
  
  @media only screen and (min-width: 992px) {
    .tabel-container .btn {
      margin-left: 10px;
    }
  }
  .tabel-container .btn {
   margin-left: 5px;
  }
  .mw100{max-width: 10%;
    width: 10%;
}
  .tabel-container .btn:hover {
    background-color: #50024c;
  }
  #valorinutritionales_results form{
    width: 100%;
  }
 #valorinutritionales_results .btn{
    width: -webkit-fill-available;
  }
  .tabel-container td {
    vertical-align: middle;
  }
  .tabel-container form {
    display: inline-flex;
    align-items: center;
  }
  @media only screen and (min-width: 992px) {
    .trdesk{ display: table-row;
    }
    .trdesk th{
      text-align: center;
    }
    .trmob{display:none;}
      }
  @media only screen and (max-width: 991px) {
    .trdesk{ display: none;}
    .trmob th{
      text-align: center;
    }
    .trmob{display:table-row;
    }
  }
  .tabel-container input[type="number"] {
    width: auto; /* Lățimea implicită pentru desktop */
  }
  
  /* Media query pentru dispozitive mobile */
  @media screen and (max-width: 767px) {
    .tabel-container input[type="number"] {
      width: 30px; /* Lățimea pentru dispozitive mobile */
      max-width: 30px; /* Max lățimea pentru dispozitive mobile */
    }
  }

  /* Cautare aliment */

  #pas .input-group-append { 
    margin: 4px 10px 0 10px;
}

#pas {
    margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {   
  form .valorinutritionale_search {
    width: 100%;
  }
  
  #pas input {
        width: 100%;
    }
    #pas form {
      width: 100%;
  }
    #pas .input-group-append {
      margin: auto;
      text-align: center;
      margin-top: 10px;
    }
    #pas button{
      margin-top: 10px;
    }
}

  .btnmobile {
    margin-bottom: 20px;
    width: 110px!important;

  }

  