<p>Bun venit <%= @email %>!</p>

<p>Poți confirma adresa de e-mail a contului tău prin linkul de mai jos:</p>

<p><%= link_to 'Confirmă contul meu', confirmation_url(@resource, confirmation_token: @token) %></p>
