<p>Buna <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te contactăm pentru a te informa că e-mailul tău este în curs de schimbare cu <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te contactăm pentru a te informa că e-mailul tău a fost schimbat cu <%= @resource.email %>.</p>
<% end %>

