

<p>Ati solicitat un link pentru schimbarea parolei. Puteți face asta prin linkul de mai jos.</p>

<p><%= link_to 'Schimbare parola', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Dacă nu ati solicitat acest lucru, va rog să ignorati acest e-mail.</p>
<p>Parola dvs nu se va schimba până când nu accesati linkul de mai sus și creati una nouă.</p>

