<p>Bună <%= @resource.email %>!</p>

<p>Contul tău a fost blocat din cauza unui număr excesiv de încercări de autentificare nereușite.</p>

<p>Click pe linkul de mai jos pentru a debloca contul:</p>

<p><%= link_to 'Deblochează contul meu', unlock_url(@resource, unlock_token: @token) %></p>

